
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
 
    /* background-color: #021ca0; */
}


.navbar {
  height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  background:linear-gradient(135deg,#f0f9ff,#e0f7fa);
}

.logo 
 {
  color: rgb(2, 1, 1);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar .nav-links {
    display: flex;
    gap: 20px;
}
.navbar .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
.navbar .nav-links a:hover {
    /* background-color: rgb(12, 7, 82); */
    background-color: #ffc107;
    color: black;
    border-radius: 5px;
}
.login-button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
.signup-button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-signup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 320px;
    text-align: center;
}
.popup-content-signup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 320px;
    text-align: center;
}

#loginnm{
    color: rgb(1, 128, 255);
}
#signupnm{
    color: rgb(0, 128, 255);
}
#submit-btn{
    background-color: rgb(0, 128, 255);
    color: white;
    border: 0px;
    border-radius: 5px;
    height: 30px;
}
.close {
    cursor: pointer;
    float: right;
    font-size: 1.2em;
    color: #aaa;
}
.close:hover {
    color: #000;
}
input[type="text"], input[type="password"] {
    width: 280px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 